<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado Alumnos</title>
</head>
<body>
    <header>
        <h1>Bienvenido {{usuario}} al aula virtual</h1>
        <h2>Listado de alumnos</h2>
    </header>
    <nav>
        <ul>
            <li><a href="http://127.0.0.1:8000/aula_virtual/">Home</a></li>
            <li><a href="http://127.0.0.1:8000/aula_virtual/alumnos/listado">Listado de alumnos</a></li>
            <li><a href="http://127.0.0.1:8000/aula_virtual/alumnos/activos">Alumnos activos</a></li>
        </ul>
    </nav>
    <main>
        <h2>2023</h2>
        <ul>
            <li>
                <p>Nombre</p>
                <p>Apellido</p>
                <p>Curso</p>
            </li>
        </ul>
    </main>
    <footer></footer>
    
</body>
</html>