<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aula Virtual 2.0</title>
</head>
<body>
    <header>
        <h1>Bienvenidos al aula virtual 2.0</h1>
    </header>
    <nav>
        <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'alumnos_listado' %}">Listado de alumnos</a></li>
            <li><a href="{% url 'alumnos_activos' %}">Alumnos activos</a></li>
        </ul>
    </nav>
    <main></main>
    <footer></footer>
    
    
</body>
</html>